# Blender files
*.blend
*.blend1
*.blend2
Blender_/

# Image files
*.png
*.JPG
*.svg
data/generation/hdri*/
data/generation/textures/
data/generation/fonts/
data/paper/
data/generation/references/
data/darts_references/

# Generation data
data/generation/out*

# dump files
dump/*
writing/notes/
private/
notes/
*.pkl
*.bkp

# Cache files
data/cache/

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.bcf
*.xml
*.toc
*.latexmkrc
*.md5
*.auxlock

# nomenclature files
*.ilg
*.nlo
*.nls

# GIMP
*.xcf

# VSCode data
workspaces/*
.vscode
.vscode

# Pycache
*__pycache__

# Python project files
*.egg-info

# TensorFlow Models
data/ai/
*.keras
*.weights.h5
