
# Blender files
*.blend1
*.blend2
Blender_/

# Image files
*.png
*.JPG
*.svg
data/generation/hdri/*
data/generation/textures/*
data/paper/*

# Generation data
data/generation/out/*

# dump files
dump/*
writing/notes/*
private/*
notes/*

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.bcf
*.xml
!main.pdf

# GIMP
*.xcf

# VSCode workspaces
workspaces/*

# Pycache
*__pycache__
